:root {
  --font-type: 'Kanit', sans-serif;
  --primary-color: #1F7301;
  --secondary-color: #AFDC9F;
  --container-padding: 15px 22px;
  --container-center: auto;
  --container-width: 90%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-type);
}

h1,
h2,
h3 {
  margin: 0;
}